body {
    position: relative;
    min-height: 45rem;
    padding-bottom: 80px;
}

html {height:100%}

/* NAVIGATION */

p {
    text-align: justify;
}

h6 {
    text-align: center;
}


.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
    margin: auto;
    height: 120px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {

    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #0099cc;
}


.count-text{
    text-align: center !important;
}

.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 25px;
    display: none;
    background-color: #0099cc;
}

#logo_head {
    width: 100%;
}

nav {
    color: black;
}

nav a {
    color:#4c4c4c !important;
}

.pill-nav {
    border: 2px solid #0099cc;
}

.background-bleu {
    background-color: #0099cc;
}

.fa-2x{
    color: #0099cc;
}

.bleu {
    color: #0099cc;
}

.pill-full-nav {
    color: #0099cc;
    border-color: #0099cc;
    border: 1px solid;
}


.badge {
    font-size: 100% !important;
}


.benef {
    list-style-type: none;
}


.classfont {
    font-family: Times, '../fonts/LeagueSpartan-Bold.otf';
}

.blacklink a{
    color: black;
}

#event_fixe {
    position: fixed;
    right: 20px;
    bottom: 50%;
}


#pictolike {
    padding-bottom: 5px;
}

#pictodevis{
    padding-bottom: 10px;
}

#pictocle {
    padding-bottom: 13px;
}


.titre-presta {
    position: absolute;
    top: 40px;
    left: 40px;
    color: white;
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;

}

#carouselClient img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}




.picto-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100px;
    width: 100px;
}

.carousel-inner > .carousel-item > img {
    height:400px !important;
}

/* LOGIN REGISTRATION */

.form-container {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.inactive {
    border-color: lightgray lightgray lightgray;
    background: darkgray;
    color: #fff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: blue;
}

/* ADVERTISEMENT */



.advertisement-img {
    width: 150px;
    height: auto;
    border: 2px solid #efefee;
    border-radius: 5px;
}

.advertisement-text {
    font-weight: bold;
}

.quote-space {
    background: #fff;
    margin-top: 30px;
    border-radius: 5px;
    border-top: 5px solid hotpink;
}

/* ARTICLES */

.main-article {
    border: 2px solid #efefee;
    Background: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.main-article img {
    width: 100%;
    height: 250px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 5px solid lightblue;
}

.article-container {
    border: 1px solid #efefee;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #fff;
}

.main-article-link, .article-container a {
    text-decoration: none;
    color: #000;
}

.main-article-link:hover {
    text-decoration: none;
    color: #000;
}

.article-title {
    min-width: 300px;

}

@media (max-width: 440px) {
    .article-title {
        min-width: 100px;
        max-width: 245px;
    }
}

.article-img {
    height: 100px;
    width: 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.article-author-img {
    height: 25px;
    border: 1px solid darkgray;
}

.article-details {
    font-size: .8em;
}

/* PROFILE */

.profile-img {
    width: 150px;
    height: auto;
    border: 2px solid #fff;
}

.profile-name {
    font-size: 1.5em;
}

.my-article-container {
    background: #FFBC49;
    border: solid 1px #efefee;
    border-radius: 5px;
}


/* CREATE ARTICLE */

.create-article-container {
    min-width: 400px;
    background-color: lightblue;
    border-radius: 5px;
}

/* ARTICLE SHOW PAGE */

.show-article-container {
    width: 100%;
    background-color: #fff;
}

.show-article-img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

.show-article-title {
    font-size: 2em;
}

.like-article, .like-article:hover {
    color: red;
    text-decoration: none;
}

@media (max-width: 991px) {
    .show-article-title {
        font-size: 1.5em;
    }

    .show-article-title-container {
        max-width: 220px;
    }
}

.article-text {
    margin-top: 20px;
}

.share-icons i {
    font-size: 1.5em;
}

.comment-img {
    width: 50px;
    height: auto;
    border: 1px solid darkgray;
}

.commenter-name {
    font-weight: bold;
}

.comment-form {
    min-width: 500px;
}

@media (max-width: 767px) {
    .comment-form {
        min-width: 260px;
    }
}




/* PRESSE*/

@media (min-width: 768px) {
    .media .avatar-2 {
        width: 130px;
    }
}

@media (max-width: 767px) {
    .media .avatar-2 {
        width: 160px;
    }
}

.card img.rounded-circle {
    border-radius: 50%;
}



/* PRESSE */



/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  margin-top: 10px;
}

footer {
    background-color: #262626;
    color: white;
}

footer a{
    color: #999999 !important;
}
