{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - L'Aérosol{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/aerosol.css') }}">
{% endblock %}

{% block body %}


    <div class="container">
        <h2 class="text-center text-uppercase">l'aérosol</h2>
        <div class="d-flex container mt-5">

        <div class="col-6 pt-1">
            <p class="text-justify">L'Aérosol était un lieu éphémère, de vie et d’expression, intergénérationnel, regroupant tous les arts urbains, les arts de la rue.</p>
            <p class="text-justify">Ce « Temple des Arts Urbains Parisien » a été qualifié le « Lieu le plus cool de Paris » par Télérama et le Parisien. Il a été un véritable succès public avec 30 000 visiteurs par mois : « Tous Graffeurs ! », pourrait-on dire !</p>
            <p class="text-justify">L’Aérosol avait pris place dans la « Halle Hébert », ancien entrepôt de la SNCF, destiné par la suite à accueillir un projet immobilier. 8 000 m², situés au 54, rue de l'Évangile dans le 18ème, et 15 mois dédiés aux Cultures Urbaines.</p>
            <p class="text-justify">Maquis-art avait décidé d’y partager, avec le grand public, toute son expérience et son savoir du monde du Graffiti et du Street-Art acquis depuis 1997 !</p>


        </div>


        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <div class="container col-6">
            <div class="row">
                <br/>
                <div class="col text-center">
                    <h4>Maquis-Art en chiffres</h4>
                </div>



            </div>
            <div class="row text-center pb-2">
                <div class="col-4">
                    <div class="counter">
                        <i class="fas fa-heart fa-2x"></i>
                        <h2 class="timer count-title count-number" data-to="300" data-speed="5000"></h2>
                        <p class="count-text ">Artistes du monde entier</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="counter">
                        <i class="fas fa-ruler-combined fa-2x"></i>
                        <h2 class="timer count-title count-number" data-to="600" data-speed="5000"></h2>
                        <p class="count-text ">Mètres de murs graffés</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="counter">
                        <i class="fas fa-palette fa-2x"></i>
                        <h2 class="timer count-title count-number" data-to="254" data-speed="5000"></h2>
                        <p class="count-text ">Oeuvres créées en live</p>
                    </div></div>
            </div>

            <div class="row text-center pt-3">
                <div class="col-4">
                    <div class="counter">
                        <i class="fas fa-arrows-alt fa-2x"></i>
                        <h2 class="timer count-title count-number" data-to="2500" data-speed="5000"></h2>
                        <p class="count-text ">M² de terrasse</p>
                    </div>
                </div>
                <div class="col">
                    <div class="counter">
                        <i class="fas fa-paint-roller fa-2x"></i>
                        <h2 class="timer count-title count-number" data-to="300" data-speed="5000"></h2>
                        <p class="count-text ">Oeuvres exposées</p>
                    </div>
                </div>
                <div class="col">
                    <div class="counter">
                        <i class="fas fa-spray-can fa-2x"></i>
                        <h2 class="timer count-title count-number" data-to="35967" data-speed="5000"></h2>
                        <p class="count-text ">Bombes aérosol vidées</p>
                    </div></div>
            </div>

        </div>

        </div>

        <hr class="featurette-divider">

        <iframe class="mt-3" width="100%" height="600" src="https://www.youtube.com/embed/HSgx7jSu50Y"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3 class="text-center text-uppercase p-5">Que trouvait-on à l’Aérosol ?</h3>
        <div class="container d-flex row">



            <div class="col-6 p-2">
                <h4>Aérosol-Musique et LifeStyle</h4>

                <p class="text-justify">Une programmation musicale, un lieu de vie en perpétuel mouvement,
                    des animations initiatrices de rencontres, de créations et d’émotions, un espace catalyseur d'énergies, de partages,
                    de fêtes hautes en couleurs.</p>
                <p class="text-justify">En journée, une gigantesque terrasse de 2500 m² autour de sa programmation musicale,
                    de son bar et Food Trucks.Le soir venu, fêtes et pop-up stores s’amarrent aux côtés des transats et palettes
                    de bois recyclées en tables,
                    invitant à la déambulation dans une ambiance bohème et sans chichi.</p>
            </div>

            <hr class="featurette-divider">

            <div class="col-6 p-2 mt-5">
                <h4>Maquis-Art Wall of Fame - Espace extérieur</h4>

                <p class="text-justify">Avec deux murs, de 300 mètres de long et 7 mètres de hauteur,
                    mis à la disposition des artistes, le grand public a pu s'immerger en live dans le Graffiti.
                    Dans le jargon du graffiti, cela s’appelle un "terrain vague"
                    : endroit abandonné où les artistes peuvent s'exprimer librement.</p>

                <p class="text-justify">Mais à l’Aérosol, ce "terrain vague" était aussi accessible au public afin d’y faire leurs
                    1ères armes avec une bombe !
                    Les œuvres réalisées sur les murs seront continuellement « repassées » par d'autres œuvres au rythme d'une œuvre
                    par mur et par semaine.</p>
            </div>

            <hr class="featurette-divider">

            <div class="col-6 rounded p-2 ">
                <h4>Maquis-Art Hall of Fame - Musée du Graffiti et du Street-Art</h4>

                <p class="text-justify">Ce 1er Musée du Graffiti à Paris, retraçait toute l'histoire de ce mouvement.
                    Il a pu voir le jour grâce aux prêts d’œuvres d'une dizaine de grands collectionneurs dont Alain Dominique Gallizia et Olivier Dahan.
                    Les artistes représentés dans ce musée allaient des précurseurs new-yorkais des années 1980 à 1990 pour arriver aux artistes d'aujourd’hui.
                    Le but était de partager et de faire comprendre au plus grand nombre les origines et l'évolution de ce mouvement.</p>

            </div>
            <hr class="featurette-divider">

            <div class="col-6 p-2 mt-3 pt-1">
                <div class="col-12">
                    <h4>Maquis-Art-Programmation d’événements</h4>
                    <p class="text-justify">En plus de l'exposition permanente, l'Aérosol a organisé des expositions de groupe d'artistes,
                        le festival Latino Graff, des initiatives solidaires, des festivals culinaires,
                        electro, hip-hop, des soirées privées de grandes marques, Team Building, Kick Off, des shootings photos, des défilés de mode...</p>
                    <p class="text-justify">Cette salle Roller, quant à elle, recevra la fête, les soirées, les concerts et plus particulièrement les soirées « Roule des patins », Roller Derby, démo de skate, battles de Break et autres activités…</p>
                </div>
            </div>
            <hr class="featurette-divider">
            <iframe width="100%" height="600" src="https://www.youtube.com/embed/GWyfpmCG_cM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>


    </div>








{% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script>

            (function ($) {
        $.fn.countTo = function (options) {
        options = options || {};

        return $(this).each(function () {
        // set options for current element
        var settings = $.extend({}, $.fn.countTo.defaults, {
        from:            $(this).data('from'),
        to:              $(this).data('to'),
        speed:           $(this).data('speed'),
        refreshInterval: $(this).data('refresh-interval'),
        decimals:        $(this).data('decimals')
        }, options);

        // how many times to update the value, and how much to increment the value on each update
        var loops = Math.ceil(settings.speed / settings.refreshInterval),
        increment = (settings.to - settings.from) / loops;

        // references & variables that will change with each update
        var self = this,
        $self = $(this),
        loopCount = 0,
        value = settings.from,
        data = $self.data('countTo') || {};

        $self.data('countTo', data);

        // if an existing interval can be found, clear it first
        if (data.interval) {
        clearInterval(data.interval);
        }
        data.interval = setInterval(updateTimer, settings.refreshInterval);

        // initialize the element with the starting value
        render(value);

        function updateTimer() {
        value += increment;
        loopCount++;

        render(value);

        if (typeof(settings.onUpdate) == 'function') {
        settings.onUpdate.call(self, value);
        }

        if (loopCount >= loops) {
        // remove the interval
        $self.removeData('countTo');
        clearInterval(data.interval);
        value = settings.to;

        if (typeof(settings.onComplete) == 'function') {
        settings.onComplete.call(self, value);
        }
        }
        }

        function render(value) {
        var formattedValue = settings.formatter.call(self, value, settings);
        $self.html(formattedValue);
        }
        });
        };

        $.fn.countTo.defaults = {
        from: 0,               // the number the element should start at
        to: 0,                 // the number the element should end at
        speed: 1000,           // how long it should take to count between the target numbers
        refreshInterval: 100,  // how often the element should be updated
        decimals: 0,           // the number of decimal places to show
        formatter: formatter,  // handler for formatting the value before rendering
        onUpdate: null,        // callback method for every time the element is updated
        onComplete: null       // callback method for when the element finishes updating
        };

        function formatter(value, settings) {
        return value.toFixed(settings.decimals);
        }
        }(jQuery));

        jQuery(function ($) {
        // custom formatting example
        $('.count-number').data('countToOptions', {
        formatter: function (value, options) {
        return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
        }
        });

        // start all the timers
        $('.timer').each(count);

        function count(options) {
        var $this = $(this);
        options = $.extend({}, options || {}, $this.data('countToOptions') || {});
        $this.countTo(options);
        }
        });

        </script>
    {% endblock %}