{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - L'Agence{% endblock %}

{% block body %}

    <!-- Section: Team v.3 -->
    <section class="team-section my-1">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-2 text-uppercase">l'équipe</h2>
        <!-- Section description -->
        <p class="grey-text text-center w-responsive mx-auto mb-5">Maquis-Art, c'est l'histoire d'individus passionnés d'arts urbains.<br>
            David et Swan partagent avec vous leur culture! </p>

        <!-- Grid row-->
        <div class="row text-center text-md-left">

            <!-- Grid column -->
            <div class="col-xl-12 col-lg-12 mb-5 d-md-flex justify-content-between">
                <div class="avatar mb-md-0 mb-4 col-4">
                    <img src="{{ asset('images/agence/david.jpg') }}" class="rounded z-depth-1 w-100" alt="Sample avatar">
                </div>
                <div class="col-8">
                    <h4 class="font-weight-bold mb-3"><strong>David Benhamou</strong></h4>
                    <h6 class="font-weight-bold grey-text mb-3">« David Maquis-Art »</h6>
                    <p class="grey-text text-justify">Maquis-Art a son ambassadeur en la personne de David !
                        Touche à tout, dans la culture hip-hop depuis 25 ans, DJ, ingénieur du son mais « touche à tout » partant toujours d’une bombe aérosol car graffeur dans l’âme...<br>
                        David, qui a créé Maquis-Art en 1997, est l’organisateur de la 1ère vente aux enchères de Street Art en 2009 avec les Maisons de Vente Millon et Cornette de Saint Cyr.
                        David a progressivement étendu ses activités et a récemment modifié le paysage parisien de la Street Culture en créant l’Aérosol. Ce lieu éphémère, sur un site industriel transformé, a été la place forte de l’Art Urbain de Paris : 1er Musée de Street-Art, 300 mètres de murs de Street-Art, 200 artistes créant des fresques tous les mois, murs libres pour les visiteurs, cour de graffiti…<br>
                        Passionné de sport, il est infatigable !
                        Aujourd’hui, Maquis-Art est une référence pour les graffeurs, street-artistes et dans le monde de l’événementiel.</p>
                </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-12 col-lg-12 mb-5 d-md-flex justify-content-between">
                <div class="avatar mb-md-0 mb-4 col-4">
                    <img src="{{ asset('images/agence/swan.JPG') }}" class="rounded z-depth-1 w-100 h-100" alt="Sample avatar">
                </div>
                <div class="col-8">
                    <h4 class="font-weight-bold mb-3"><strong>Swan Carpio</strong></h4>
                    <h6 class="font-weight-bold grey-text mb-3">« Joly Coeur - Ramon Kota »</h6>
                    <p class="grey-text text-justify">Graffeur dès 11 ans...La précocité marque le parcours de Swan!
                        Premiers pas au cinéma à 18 ans...<br>La diversité aussi!
                        Swan, c'est surtout un parcours dans la musique !
                        Immergé dans le mouvement hip-hop, il rappait avec La Harissa, La Casa Del Phonky ,Spanish Lab, Nord Side…
                        <br>Très proche du mouvement Techno et Drum’N’Bass, il participe à l’élaboration de nombreux évènements aux côtés de fameux Sound System Techno.
                        Swan forme avec David un duo de choc, et ce, depuis les débuts de Maquis-Art.
                        Ils se connaissent, se complètent, c'est fluide...
                        <br>Il est un Directeur Artistique passionné, un interlocuteur idéal,
                        très attentionné, qui sait écouter et faire les bonnes propositions.
                        Swan, c'est "la force dans un gant de velours" !</p>


{#                    <!-- Facebook-->
                    <a class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                    <!--YouTube -->
                    <a class="p-2 fa-lg yt-ic">
                        <i class="fab fa-youtube"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                    </a>
                    #}
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->



    </section>
    <!-- Section: Team v.3 -->










{% endblock %}
