{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Décoration/ Façade {% endblock %}

{% block body %}


<h3 class="text-center">DECORATION & FACADE</h3>

<div class="d-flex pt-3">
    <div class="col-6 pt-5">

        <p>Les artistes Maquis-Art conçoivent et réalisent des décorations murales personnalisées, pour professionnels et particuliers, dans des lieux publics et privés.Nos Street Artistes, actifs, talentueux, utilisent leur talent brut, leur style au service de vos attentes pour créer une œuvre à votre image.</p>
        <p>En intérieur, que l’on parte de votre logo, de votre identité visuelle ou autre, l’œuvre est un nouveau mode de communication original pour vos équipes, vos clients.
            Hall d'accueil, salle d'attente, de réunion, véhicule, commerce, nos artistes sont prêts !
            En extérieur, éphémère ou pas, une oeuvre monumentale à votre image est un vecteur de communication exceptionnel.
            C'est aussi de l'art, du beau offert à vos équipes, clients et passants...un don.</p>

    </div>

    <div class="col-6">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ asset('images/deco/slide2/Deco1.jpg') }}" alt="First deco">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ asset('images/facade/slide/Facad1.jpg') }}" alt="Dos deco">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ asset('images/deco/slide2/Deco2.jpg') }}" alt="Dos deco">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ asset('images/facade/slide/Facad2.jpg') }}" alt="Dos deco">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ asset('images/deco/slide2/Deco3.jpg') }}" alt="Dos deco">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ asset('images/facade/slide/Facad3.jpg') }}" alt="Dos deco">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ asset('images/deco/slide2/Deco4.jpg') }}" alt="First deco">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ asset('images/facade/slide/Facad4.jpg') }}" alt="Dos deco">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ asset('images/deco/slide2/Deco5.jpg') }}" alt="First deco">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ asset('images/facade/slide/Facad6.jpg') }}" alt="Dos deco">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>



</div>
    <div class="col-12">

        <a class="btn background-bleu text-white" data-toggle="collapse" href="#collapseEvent" role="button" aria-expanded="false" aria-controls="collapseEvent">
            Voir plus
        </a>



        <div class="collapse row p-3" id="collapseEvent">
            <div class="col-12">
                <p><span class="badge background-bleu text-white ml-2">Fêter</span><span class="badge background-bleu text-white ml-2">Rêver</span><span class="badge background-bleu text-white ml-2">Communiquer</span></p>
                <p>​​​​​​​Les hommes ont toujours cherché à peindre sur les murs, que ce soit pour des raisons religieuses, esthétiques ou mercantiles.</p>
                <p>La peinture sur des murs, tant intérieurs qu'extérieurs, pour décorer, embellir, communiquer semble avoir existé de tout temps ; certains la font remonter à l'art pariétal préhistorique.</p>
                <p>Dans l'art antique, la peinture n'eut d'autre rôle que d'accompagner et de souligner les motifs d'architecture ou de sculpture. Dans les villes comme Pompéi, Herculanum, la peinture couvrait toutes les parois des temples, des basiliques et des demeures particulières: frises, bas-reliefs, voutes...Au Moyen-Age, les églises étaient recouvertes intérieurement et extérieurement de peintures murales.</p>
                <p>Au xixe siècle, l'essor de la publicité entraîne l'emploi d'artistes pour peindre des images de réclames. À partir des années 1970, des artistes peignent sur ces surfaces libres en Europe et en Amérique. Invoquant la volonté de sortir des musées et des lieux privés pour s'adresser à l'homme de la rue, ces artistes cultivent des thèmes et des styles populaires, souvent liées à des revendications sociales
                    Aujourd'hui, les peintures murales contemporaines réalisées en extérieur, sont des productions artistiques reconnues par les institutions et le marché de l'art.</p>
            </div>
        </div>
    </div>







<!-- /END THE FEATURETTES -->


 <!--<div class="row">
    <div class="col-md-12">

        <div id="mdb-lightbox-ui"></div>

        <div class="mdb-lightbox no-margin">

            <figure class="col-md-4">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
                         class="img-fluid">
                </a>
            </figure>

            <figure class="col-md-4">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(98).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(98).jpg"
                         class="img-fluid" />
                </a>
            </figure>

            <figure class="col-md-4">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(131).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(131).jpg"
                         class="img-fluid" />
                </a>
            </figure>

            <figure class="col-md-4">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
                         class="img-fluid" />
                </a>
            </figure>

            <figure class="col-md-4">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(118).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(118).jpg"
                         class="img-fluid" />
                </a>
            </figure>

            <figure class="col-md-4">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(128).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(128).jpg"
                         class="img-fluid" />
                </a>
            </figure>

            <figure class="col-md-4">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(132).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg"
                         class="img-fluid" />
                </a>
            </figure>

            <figure class="col-md-4">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(115).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg"
                         class="img-fluid" />
                </a>
            </figure>

            <figure class="col-md-4">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(133).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(133).jpg"
                         class="img-fluid" />
                </a>
            </figure>

        </div>

    </div>
</div>
-->


{% endblock %}