{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Evenementiel{% endblock %}

{% block body %}

    <main role="main">

        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <h3 class="text-center">EVENEMENTIEL</h3>

            <div class="d-flex pt-4">
                <div class="col-6 pr-1">
                    <p>Maquis-Art propose de faire vibrer vos événements en intégrant une animation artistique originale, unique et sur-mesure menée par un artiste professionnel.</p>
                    <p>Notre agence propose diverses prestations que nous personnalisons selon vos envies, votre charte graphique, votre domaine professionnel et le type de soirée concernée, car chacune a ses codes : Gala, Kick Off, Séminaire, Inauguration, Convention...
                        Body Painting, Live Painting, Light Painting, Soirée Cultures Urbaines…à votre mesure !</p>
                    <p>Nous pouvons aussi bien intervenir pour une animation ponctuelle intégrée dans le cours de votre événement, que proposer un événement clé en main telle qu’une soirée thématique et entièrement tournée vers les Cultures Urbaines : Live Painting, Danse Hip-hop, show de BMX ou Skate, DJ, traiteur…
                        Tout est possible !</p>
                </div>

                <div class="col-6 pt-5">
                    <div class="row text-center pb-2">
                        <div class="col-6">
                            <div class="counter">
                                <i class="fas fa-building fa-2x picto-bleu"></i>
                                <p class="count-text ">Sortir du cadre formel de l'entreprise</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="counter">
                                <i class="fas fa-comments fa-2x"></i>
                                <p class="count-text ">Favoriser la communication spontanée</p>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-6">
                            <div class="counter">
                                <i class="fas fa-heart fa-2x"></i>
                                <p class="count-text ">Valoriser les participants</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="counter">
                                <i class="fas fa-id-badge fa-2x"></i>
                                <p class="count-text ">Augmenter l'identification à l'entreprise</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">

                <a class="btn background-bleu text-white" data-toggle="collapse" href="#collapseEvent" role="button" aria-expanded="false" aria-controls="collapseEvent">
                    Voir plus
                </a>



                <div class="collapse" id="collapseEvent">
                    <p><span class="badge background-bleu text-white ml-2">Fêter</span><span class="badge background-bleu text-white ml-2">Rêver</span><span class="badge background-bleu text-white ml-2">Communiquer</span></p>
                    <p>Qu’est-ce que l’évènementiel ?</p>
                    <p>Le terme « événementiel » désigne tout ce qui concerne l’organisation d’événements par des professionnels. Ces événements ont un objectif spécifique. Ils peuvent viser à informer, à permettre l’échange de connaissances, à encourager le réseautage, à recruter du personnel, à motiver ou remercier le personnel existant, ou encore à renforcer l’esprit d’équipe entre les employés.</p>
                    <p>Ces événements sont avant tout de puissants outils de communication qui permettent de transmettre un message spécifique d’une manière originale et marquante. C’est la raison pour laquelle on emploie très souvent le terme de “communication événementielle“.</p>
                    <p>La communication événementielle ne repose pas sur un média mais sur le rassemblement ponctuel et éphémère d’un groupe de personnes autour d’un événement précis. Ceci permet de créer un réel espace d’échange entre les individus, au sein duquel la communication est souvent pluri-sensorielle : elle permet de toucher les cinq sens des participants, afin de mieux marquer leurs esprits !</p>
                    <p>Petite histoire de l’évènementiel !</p>
                    <p>L’organisation d’événements remonte à l’Antiquité. Entre les fêtes de Néron à Rome, en passant par Louis XIV qui est le premier à en faire un instrument à son service, l’événementiel se développe.</p><p>En 1970, apparaissent les premières agences événementielles. Dans les années 80, les grandes entreprises affichent leur prospérité en organisant des galas et de nombreuses soirées. C’est seulement dans les années 90 que les entreprises prennent conscience de l’efficacité de communiquer par l’événement.En effet, ils sentaient qu’il y avait une attente grandissante dans ce domaine, d’où la nécessité de se démarquer, en vendant du rêve au participants.</p>
                </div>
            </div>
        </div>



            </div>
            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-6 mt-1">
                    <div id="carouselLive" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{{ asset('images/live/Livep2.JPG') }}" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{ asset('images/live/Livep3.JPG') }}" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{ asset('images/live/Livep4.jpg') }}" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{ asset('images/live/Livep5.JPG') }}" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{ asset('images/live/Livep6.JPG') }}" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselLive" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselLive" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 pr-1">
                    <h2 class="featurette-heading">LIVEPAINTING</h2>
                    <p>Le Live Painting est une performance artistique, par un ou plusieurs artistes qui peignent
                        en direct une fresque.</p>
                    <p>Une création artistique exceptionnelle, impressionnante qui marque les esprits !</p>
                    <p>Les artistes de Maquis-Art partagent en live leur style, leur univers artistique, leur passion de la création. Les invités découvrent les outils, les techniques, la dextérité du geste, du premier trait jusqu’à l’œuvre finale.
                        En amont de l’événement, nos artistes préparent avec vous une esquisse adaptée à vos envies, impératifs (charte graphique, thème de l’événement…) afin que l’œuvre vous ressemble.</p>
                    <p>A la fin de la soirée, elle est à vous ! Son exposition dans les locaux de l’entreprise ravira vos employés et visiteurs par son originalité !</p>
                </div>
            </div>

        <div class="col-12 d-flex align-items-end ml-4 flex-column">

            <a class="btn background-bleu text-white " data-toggle="collapse" href="#collapseLive" role="button" aria-expanded="false" aria-controls="collapseLive">
                Voir plus
            </a>



            <div class="collapse row pt-3" id="collapseLive">
                <div class="col-6">
                    <p><span class="badge background-bleu text-white ml-2">Crée</span><span class="badge background-bleu text-white ml-2">Vibrer</span><span class="badge background-bleu text-white ml-2">Révéler</span></p>
                    <p>Petite histoire du Livepainting !</p>
                    <p>La création artistique est, dans l'imaginaire collectif, le plus souvent liée à l'isolement de l'artiste dans son l'atelier, atelier comme « ventre de la création ».</p>
                    <p>Mais l'artiste s'est depuis longtemps exprimé dans la rue, en public. La danse, la musique, le caricature y ont leur place depuis très longtemps et ont même pris une forme organisée par le biais les Festivals.</p>
                    <p>L’intervention artistique en direct, montrant le processus de la création, est un moment magique de partage du processus créatif.</p>
                    <p>La volonté de susciter de l’émotion chez le spectateur est le cœur des dispositifs artistiques.  </p>
                </div>


                <div class="col-6 pt-5">
                    <h3 class="text-center pb-2">Fiche technique</h3>
                    <div class="row text-center pb-2">
                        <div class="col-6">
                            <div class="counter">
                                <i class="fas fa-history fa-2x picto-bleu"></i>
                                <p class="count-text ">Durée : De 1H à 8H</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="counter">
                                <i class="fas fa-users fa-2x"></i>
                                <p class="count-text ">Nb participants : De 1 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-6 pt-4">
                            <div class="counter">
                                <i class="fas fa-arrows-alt fa-2x"></i>
                                <p class="count-text ">M² minimum :  De 1 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-6 pt-4">
                            <div class="counter">
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                <p class="count-text ">Lieu : Intérieur & Extérieur</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>

            <hr class="featurette-divider">

            <div class="row featurette">

                <div class="col-md-6 ">
                    <h2 class="featurette-heading">LIGHTPAINTING</h2>
                    <p>Avec la prestation Light Painting, les participants sont tour à tour artiste puis modèle !</p>
                    <p>En effet, par petits groupes ou individuellement, les invités créent une œuvre de lumière en laissant libre cours à leur imagination avec des formes et des lettrages...Puis, dans ce décor féerique, et à chaque fois unique, ils sont photographiés.</p>
                    <p>Pour un effet ludique immédiat, les œuvres sont projetées sur un écran. Elles peuvent aussi être imprimées en direct et remises aux invités au format photo, avec votre logo intégré, et transmises au format numérique.
                        Elles sont alors un cadeau-souvenir idéal !
                        Le Light Painting égayera votre soirée par son aspect moderne, créatif, original et fun !</p>
                </div>
                <div class="col-md-6 mt-2">

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vsfx7ojoY3k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>
            </div>

        <div class="col-12 p-0">

            <a class="btn background-bleu text-white" data-toggle="collapse" href="#collapseLight" role="button" aria-expanded="false" aria-controls="collapseLight">
                Voir plus
            </a>



            <div class="collapse row p-3" id="collapseLight">
                <div class="col-6">
                    <p><span class="badge background-bleu text-white ml-2">Innover</span><span class="badge background-bleu text-white ml-2">Illuminer</span><span class="badge background-bleu text-white ml-2">Peindre</span></p>
                    <p>Petite histoire du LightPainting !</p>
                    <p>Le premier light-painting a été créé en 1882 par Étienne-Jules Marey. Il a signé son nom avec une boule blanche en se déplaçant devant un mur sombre et en se photographiant, comme le rapporte l’Académie des Sciences.</p>
                    <p>En 1937, le célèbre photographe américain Man Ray a réalisé plusieurs œuvres utilisant cette technique : A Man With Moving Light et Space-Writing, </p>
                    <p>En 1949, Pablo Picasso et le photographe Gjon Mili ont réalisé une série de photographies en faisant un rapide crayonné dans l'air.</p>
                </div>

                <div class="col-6">
                    <h3 class="text-center pb-2">Fiche technique</h3>
                    <div class="row text-center pb-2">
                        <div class="col-6">
                            <div class="counter">
                                <i class="fas fa-history fa-2x picto-bleu"></i>
                                <p class="count-text ">Durée : De 1H à 4H</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="counter">
                                <i class="fas fa-users fa-2x"></i>
                                <p class="count-text ">Nb participants : De 1 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-arrows-alt fa-2x"></i>
                                <p class="count-text ">M² minimum : De 1 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                <p class="count-text ">Lieu : Intérieur & Extérieur</p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-6 mt-2">
                    <div id="carouselCusto" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{{ asset('images/custo/custo_1.jpeg') }}" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{ asset('images/custo/custo_2.jpeg') }}" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{ asset('images/custo/custo_3.jpeg') }}" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{ asset('images/custo/custo_4.JPG') }}" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselCusto" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselCusto" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="featurette-heading">CUSTOMISATION</h2>
                    <p>Maquis-Art propose un cadeau exceptionnel à vos participants : un produit customisé à la main.</p>
                    <p>Ce cadeau-souvenir, véritable marqueur de tendance et de qualité de votre événement, rendra votre soirée inoubliable.</p>
                    <p>Plusieurs options s'offrent à vous !</p>
                    <p>En amont de l’événement ou pendant, notre artiste personnalise vos objets. Soit des objets personnels apportés par chaque invité, soit des objets choisis par vos soins pour un lancement de produit, pour sa valeur symbolique etc...</p>
                    <p>Cette prestation permet de cumuler deux éléments exceptionnels:</p>
                    <p>Observer en direct le travail d'orfèvre de l'artiste et repartir avec un produit qui est devenu une « œuvre »...le luxe de l'unique !</p>
                </div>
            </div>

        <div class="col-12 d-flex align-items-end ml-4 flex-column">

            <a class="btn background-bleu text-white" data-toggle="collapse" href="#collapseCusto" role="button" aria-expanded="false" aria-controls="collapseCusto">
                Voir plus
            </a>



            <div class="collapse row p-3" id="collapseCusto">
                <div class="col-6">
                    <p><span class="badge background-bleu text-white ml-2">Personnaliser</span><span class="badge background-bleu text-white ml-2">Individualiser</span><span class="badge background-bleu text-white ml-2">Sublimer</span></p>
                    <p>Petite histoire de la customisation !</p>
                    <p>Depuis les Trente Glorieuses, les marques de grande consommation se sont développées en suivant  les préceptes de mass marketing, édictés par les lessiviers américains. En réponse à cette consommation uniformisée : la customisation s'est développé !
                    </p>
                    <p>Des industriels avant-gardistes, comme Nike, pour répondre à une communauté de clients délicats et prêts à payer le prix, ont même fait de la personnalisation (appelée dans le vocabulaire des collectionneurs "customisation", "custom", "kustom", "tuning") la figure de proue de leur image de marque, avec notamment le projet Nike-ID.
                    </p>
                    <p>Un nouveau luxe ou le client devient facilement son propre designer de produit. Différenciation, individualisation le ravissent. Il créée un produit qui reflète sa personnalité.</p>
                </div>


                <div class="col-6 pt-5">
                    <h3 class="text-center pb-2">Fiche technique</h3>
                    <div class="row text-center pb-2">
                        <div class="col-6 pt-4">
                            <div class="counter">
                                <i class="fas fa-history fa-2x picto-bleu"></i>
                                <p class="count-text ">Durée : De 1H à 5H</p>
                            </div>
                        </div>
                        <div class="col-6 pt-4">
                            <div class="counter">
                                <i class="fas fa-users picto-bleu fa-2x"></i>
                                <p class="count-text ">Nb participants : De 1 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-arrows-alt fa-2x"></i>
                                <p class="count-text ">M² minimum : De 50 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                <p class="count-text ">Lieu : Intérieur & Extérieur</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

            <hr class="featurette-divider">

            <div class="row featurette">

                <div class="col-md-6">
                    <h2 class="featurette-heading">GRAFF NUMERIQUE</h2>
                    <p>Le Graffiti numérique, ou virtuel, est une animation participative, ludique et créative qui s’inspire des techniques et des gestes utilisés dans le graffiti traditionnel à la bombe.</p>
                    <p>Les convives choisissent un fond personnalisé : image de votre nouveau produit, logo en overlay etc... Puis, accompagnés de l'artiste, ils laissent libre cours à leur imagination et créent une œuvre de Street Art avec les bombes à infrarouge, pictogrammes, pochoirs et différentes options mises à disposition.</p>
                    <p>Mixez technologie et art est un plaisir pour les invités ! Ils font émerger facilement des œuvres originales, personnalisées et immortalisées par des photos récupérées instantanément au format papier ou bien dans leur boîte mail.</p>
                </div>
                <div class="col-md-6 mt-5">

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/toeeu5urL_0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>
            </div>


        <div class="col-12 p-0">

            <a class="btn background-bleu text-white" data-toggle="collapse" href="#collapseGraffN" role="button" aria-expanded="false" aria-controls="collapseGraffN">
                Voir plus
            </a>

            <div class="collapse row p-3" id="collapseGraffN">
                <div class="col-6">
                <p><span class="badge background-bleu text-white ml-2">Exprimer</span><span class="badge background-bleu text-white ml-2">Moderniser</span><span class="badge background-bleu text-white ml-2">Graffer</span></p>
                <p>Petite histoire du Graffiti Numérique !</p>
                <p>
                    Le graffiti est un art qui remonte aux ères les plus reculées de l’histoire de l’humanité. C’est un mode d'expression artistique qui transmet les empreintes des modes de vie et des civilisations.
                </p>
                <p>
                    À l’image de tous les autres arts, le graffiti subit l’influence du climat politique, social et culturel des périodes qu’il  traverse. Ainsi, les mutations des années 60 ont nettement favorisé l’essor de cet art comme mode d'expression de protestation.
                </p>
                <p>
                    De nos jours, à travers l’évolution numérique et l’apparition des nouvelles technologies, le graffiti connaît une évolution considérable. Il se présente  avec de nouvelles techniques d’écriture et d’exposition numérique (le graff virtuel, le light painting, le laser tag, le led throwie, l’audio graffiti, etc.). Grâce à ces nouvelles technologies, le graffiti attire un nouveau public car, considéré comme un art numérique institutionnel, il transcende la rue et les lieux abandonnés vers les galeries, les manifestations et les événements artistiques et culturels.
                </p>
                </div>


                <div class="col-6 pt-5">
                    <h3 class="text-center pb-2">Fiche technique</h3>
                    <div class="row text-center pb-2">
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-history fa-2x picto-bleu"></i>
                                <p class="count-text ">Durée : De 1H à 5H</p>
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-users fa-2x"></i>
                                <p class="count-text ">Nb participants : De 1 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-arrows-alt fa-2x"></i>
                                <p class="count-text ">M² minimum : De 50 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                <p class="count-text ">Lieu : Intérieur & Extérieur</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-6">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ asset('images/cultureurbaine/skate3.webp') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('images/cultureurbaine/concert1.webp') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('images/cultureurbaine/hip 1.webp') }}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="featurette-heading">CULTURE URBAINES</h2>
                    <p>Maquis-Art vous invite à vivre une expérience incroyable d'immersion dans la Street Culture : rap, électro, battle de Hip-hop, exposition de Street art et Graffiti, vidéos, démonstration sportive de BMX, skate …</p>
                    <p>Les cultures urbaines puisent leur source dans l’univers de la ville et mettent en lumière ses pratiques variées pour un lancement de produit, soirée, inauguration, convention, road show,  workshop, séminaire d’entreprise...</p>
                    <p>Maquis-Art vous créera une solution clé en main correspondant à vos souhaits : une prestation sur mesure par la création et la production de l’ensemble de votre événement du traiteur, en passant par une performance jusqu'au DJ set ! Nous nous adaptons à vos contraintes et réalisons vos projets jusqu’au bout.</p>
                </div>
            </div>


        <div class="col-12 d-flex align-items-end ml-4 flex-column">

            <a class="btn background-bleu text-white" data-toggle="collapse" href="#collapseCulture" role="button" aria-expanded="false" aria-controls="collapseCulture">
                Voir plus
            </a>



            <div class="collapse row p-3" id="collapseCulture">
                <div class="col-6">
                <p><span class="badge background-bleu text-white ml-2">Conceptualiser</span><span class="badge background-bleu text-white ml-2">Découvrir</span><span class="badge background-bleu text-white ml-2">Inventer</span></p>
                <p>Petite histoire des Cultures Urbaines !</p>
                <p>
                    Née aux États-Unis, la culture Hip-hop arrive et se développe en Île-de-France au début des années 1980 et particulièrement dans les banlieux. Ce développement se fait grâce à quatre vecteurs principaux : les discothèques, les médias audiovisuels, les espaces publics et les politiques sociales des villes. Fortement urbanisée, l’Île-de-France se présente par définition comme un territoire privilégié d’expansion autour des trois axes d’expression artistique : la danse, la musique (rap, slam) et l’expression graphique (graff, tag).
                </p>
                <p>
                    Les cultures urbaines rassemblent la culture Hip-hop et la culture liée au mode de vie urbain de cette génération. Cette culture contient la philosophie générale d’un mouvement désormais ancien, ses valeurs, ses engagements - volontiers contestataire -, son langage, sa manière de scander les mots (le « flow »), sa gestuelle, son habillement (streetswear) et ses pratiques sportives (skate, street, foot de rue, BMX, sports de glisse, etc,…)...
                </p>
                <p>
                    On peut ainsi parler d’un véritable « mouvement » voire d’une « révolution » Hip-hop aux ressources créatrices considérables qui s'étendent jusqu’à aujourd'hui.
                </p>
                </div>


                <div class="col-6 pt-5">
                    <h3 class="text-center pb-2">Fiche technique</h3>
                    <div class="row text-center pb-2">
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-history fa-2x picto-bleu"></i>
                                <p class="count-text ">Durée : De 1H à 5H</p>
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-users fa-2x"></i>
                                <p class="count-text ">Nb participants : De 1 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-arrows-alt fa-2x"></i>
                                <p class="count-text ">M² minimum : De 80 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                <p class="count-text ">Lieu : Intérieur & Extérieur</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-6">
                    <h2 class="featurette-heading">BODY PAINTING</h2>
                    <p>
                        Maquis-Art propose une animation Body Painting qui transforme votre corps en œuvre d’art !
                    </p>
                    <p>
                        Motifs calligraphiques, illustrations, jeux de mots graphiques,
                        nos Street Artistes réalisent en live sur la peau des participants des œuvres éphémères aux couleurs de votre événements,
                        avec une peinture fluo pour les soirée nocturne…
                    </p>
                    <p>
                        Le Body painting est un art éphémère qui créent une parenthèse récréative lors de votre événement et laisse un souvenir durable. Elégantes, décalées ou amusantes, les photos de Body Painting font fureurs sur la toile. Un bon point pour la communication de votre événement !
                    </p>
                </div>
                <div class="col-md-6">
                    <div id="carouselBody" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{{ asset('images/bodypainting/slide/Body1.jpg') }}" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{ asset('images/bodypainting/slide/Body2.jpg') }}" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{ asset('images/bodypainting/slide/Body3.jpg') }}" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{ asset('images/bodypainting/slide/Body4.jpg') }}" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselBody" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselBody" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div class="col-12">

                    <a class="btn background-bleu text-white" data-toggle="collapse" href="#collapseBody" role="button" aria-expanded="false" aria-controls="collapseBody">
                        Voir plus
                    </a>

                    <h6  style="color: red">MOT CLE MANQUANT</h6>

                    <div class="collapse row p-3" id="collapseBody">
                        <div class="col-6">

                            <p><span class="badge background-bleu text-white ml-2">Conceptualiser</span><span class="badge background-bleu text-white ml-2">Découvrir</span><span class="badge background-bleu text-white ml-2">Inventer</span></p>
                            <p>
                                L’art de la peinture corporelle (ou body painting) remonte à l’aube de l’humanité. Elle est l’une des premières formes d’expression artistique utilisée par nos ancêtres et a eu des significations les plus variées!
                                Nos ancêtres du paléolithique, en découvrant le charbon de bois, la craie, le jus de baies coloré, le sang et autres pigments, les ont d’abord utilisés comme peinture de guerre ou comme signe identitaire à l’intérieur de la tribu, ou encore comme camouflage pour la chasse puis lors de cérémonies rituelles religieuses, festives ou identitaires.
                            </p>
                            <p>
                                Pour les aborigènes d’Australie et certaines tribus d’Afrique, associée à la danse, la peinture devient le moyen de communiquer avec les ancêtres. En Afrique du Nord et en Inde, le henné est utilisé lors de cérémonie de mariage ou religieuse etc...
                            </p>
                            <p>
                                Aujourd’hui l’artiste utilise le corps comme support pictural de ses œuvres.Le but est surtout ludique et ornemental; par son coté spectaculaire, il est une activité événementielle très prisée. Avec l’évolution des techniques comme l’aérographe, les pigments phosphorescents, la palette de couleur s’élargit. Les possibilités graphiques permettent une multitude d’effets comme le camouflage,le trompe l’œil et l'inspiration tribale a toujours sa place!
                            </p>
                            <p>Le corps devient support artistique éphémère et spectaculaire!</p>
                        </div>


                        <div class="col-6 pt-4">
                            <h3 class="text-center pb-2">Fiche technique</h3>
                            <div class="row text-center pb-2">
                                <div class="col-12">
                                    <div class="counter">
                                        <i class="fas fa-history fa-2x picto-bleu"></i>
                                        <p class="count-text ">Durée : De 1H à 4H</p>
                                    </div>
                                </div>
                                <div class="col-12 pt-3">
                                    <div class="counter">
                                        <i class="fas fa-users fa-2x"></i>
                                        <p class="count-text ">Nb participants : De 1 à No Limit !</p>
                                    </div>
                                </div>
                                <div class="col-12 pt-3">
                                    <div class="counter">
                                        <i class="fas fa-arrows-alt fa-2x"></i>
                                        <p class="count-text ">M² minimum : De 1 à No Limit !</p>
                                    </div>
                                </div>
                                <div class="col-12 pt-3">
                                    <div class="counter">
                                        <i class="fas fa-map-marker-alt fa-2x"></i>
                                        <p class="count-text ">Lieu : Intérieur & Extérieur</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

            <hr class="featurette-divider">




            <!-- /END THE FEATURETTES -->


        </div><!-- /.container -->


        {% block javascripts %}




            <script>
                $(function () {
                    $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
                });
            </script>


        {% endblock %}




{% endblock %}
