{% extends 'base.html.twig' %}

{% block body %}

    <main role="main">
        <div class="container">
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/6egceoE2Oas" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>




        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">



            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette pr-3">
                <div class="col-md-6">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 h-100" src="{{ asset('images/home/slide/home2.jpeg') }}"alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 h-100" src="{{ asset('images/home/slide/slide3.jpg') }}" alt="Seconde slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 h-100" src="{{ asset('images/home/slide/slide4.jpg') }}" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 h-100" src="{{ asset('images/home/slide/slide6.jpg') }}" alt="Fourth slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 h-100" src="{{ asset('images/home/slide/slide7.jpg') }}" alt="Fifth slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 background-bleu rounded p-2">
                    <p class="text-justify"><strong>Depuis 1997, l’équipe de Maquis-Art partage sa passion du Street Art et du Graffiti.</strong><br><br>
                    Nos activités dans <strong>tous les domaines touchant au Graffiti et au Street Art</strong>, vente aux enchères,
                    prestations pour les agences, la TV..., nous permettent d'avoir un panel d'artistes très large. Aux
                    talents multiples,aguerris, actifs, ils vous font entrer dans leur monde de création !<br>
                    Un projet de décoration en tête ? Une soirée d'entreprise à organiser ? Un Team Building original
                    pour votre équipe ? Une soirée-événement en immersion dans les Cultures Urbaines ?<br><br>
                    <strong>Maquis-Art est force de proposition en fonction de vos envies</strong>, idées de départ et vous construit un
                    projet clé en main, sur-mesure.
                    Nous pouvons, soit intégrer une prestation au sein de votre événement, soit organiser la totalité
                    de l'événement : salle, traiteur, DJ & animations...<br></p>
                </div>
            </div>

            <hr class="featurette-divider">


            <!-- /END THE FEATURETTES -->


            <div class="text-center">
                <h1>Nos prestations</h1>
                <h6>Maquis-Art invente avec vous des prestations créatives, originales et uniques.</h6>
                <h6>Pour des événements privés ou professionnels, avec nos artistes, vous vivez un grand moment de lâcher-prise et de partage.</h6>
            </div>

            <!-- Three columns of text below the carousel -->
            <div class="row mt-5 mb-4 blacklink">
                <div class="col-lg-4">
                    <a href="/event"><img class="picto-center" src="{{ asset('images/PrestaEvent.png') }}"></a>
                    <a href="/event"><h2 class="text-center">Evènementiel</h2></a>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <a href="/teambuilding"><img class="picto-center" src="{{ asset('images/PrestaTeamBuilding.png') }}"></a>
                    <a href="/teambuilding"><h2 class="text-center">Team Building</h2></a>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <a href="/decoration"><img class="picto-center" src="{{ asset('images/PrestaDeco.png') }}"></a>
                    <a href="/decoration"><h2 class="text-center">Décoration/Façade</h2></a>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <div class="row d-flex">
                <div class="col-6">
                    <a href="/event">
                        <h5 class="titre-presta">Evènementiel</h5>
                    <img class="w-100" style="height: 300px;" src="{{ asset('images/home/presta_1.jpg') }}">
                    </a>
                </div>
                <div class="col-6">
                    <a href="/teambuilding">
                        <h5 class="titre-presta">Team Building</h5>
                    <img class="w-100" style="height: 300px;" src="{{ asset('images/home/presta_2.jpg') }}">
                    </a>
                </div>
                <div class="col-6 mt-4">
                    <a href="/decoration">
                        <h5 class="titre-presta">Décoration</h5>
                    <img class="w-100" style="height: 300px;" src="{{ asset('images/home/presta_3.jpeg') }}">
                    </a>
                </div>
                <div class="col-6 mt-4">
                    <a href="/decoration">
                        <h5 class="titre-presta">Façade</h5>
                        <img class="w-100" style="height: 300px;" src="{{ asset('images/facade2.jpg') }}">
                    </a>
                </div>
            </div>


            <hr class="featurette-divider">


            <div class="container text-center">
                <h1>Nos clients</h1>
                <h5>Multinationales, PME, commercants, particuliers, ils nous ont fait confiance une 1ère fois...puis à nouveau !</h5>
            </div>

            <div id="carouselClient" class="carousel slide pt-5 pb-5" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active pl-5">
                        <div class="row">
                        <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/accor.jpeg') }}"></div>
                        <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/adidas.jpeg') }}"></div>
                        <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/allianz.png') }}"></div>
                        <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/allianzauto.jpeg') }}"></div>
                        <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/BPI.png') }}"></div>
                        <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle src="{{ asset('images/marques/chateauform.jpeg') }}"></div>
                        </div>
                    </div>
                    <div class="carousel-item pl-5">
                        <div class="row">
                            <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/eneddis.jpeg') }}"></div>
                            <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/google.png') }}"></div>
                            <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/grtf.png') }}"></div>
                            <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/grtgaz.jpeg') }}"></div>
                            <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/index.png') }}"></div>
                            <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/LNR.jpeg') }}"></div>
                        </div>
                    </div>
                    <div class="carousel-item pl-5">
                        <div class="row">
                            <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/monkeyshoulder.jpeg') }}"></div>
                            <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/nike.png') }}"></div>
                            <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/novardis.jpeg') }}"></div>
                            <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/orange.png') }}"></div>
                            <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/parrot.png') }}"></div>
                            <div class="col-2"><img class="w-100 bd-placeholder-img rounded-circle" src="{{ asset('images/marques/publicis.jpeg') }}"></div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselClient" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselClient" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


            <hr class="featurette-divider">


            <div class="container d-flex col-12">
                <div class="col-6 d-flex pt-3">
                    <svg class="bd-placeholder-img rounded-circle ml-2 col-4" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                    <div class="col-8">
                        <p>Maquis-Art transforme vos besoins,

                            vos idées en réalité.Maquis-Art trans-
                            forme vos besoins, vos idées en

                            réalité.Maquis-Art transforme vos

                            besoins, vos idées en réalité.Maquis-
                            Art transforme vos besoins, vos idées

                            en réalité.Maquis-Art transforme vos besoins, vos idées en réalité.
                        </p>
                    </div>
                </div>
                <div class="col-6 d-flex pt-3">
                    <svg class="bd-placeholder-img rounded-circle ml-2 col-4" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                    <div class="col-8">
                        <p>Maquis-Art transforme vos besoins,

                            vos idées en réalité.Maquis-Art trans-
                            forme vos besoins, vos idées en

                            réalité.Maquis-Art transforme vos

                            besoins, vos idées en réalité.Maquis-
                            Art transforme vos besoins, vos idées

                            en réalité.Maquis-Art transforme vos besoins, vos idées en réalité.
                        </p>
                    </div>
                </div>
            </div>


            <hr class="featurette-divider">

            <div class="text-center mt-5">
                <h1>Maquis-Art, c'est...</h1>
            </div>

            <!-- Three columns of text below the carousel -->
            <div class="row mt-5">
                <div class="col-lg-3">
                    <img class="picto-center" id="pictocle" src="{{ asset('images/clés-en-mains-0099C.png') }}">
                    <h6>UNE PRESTATION SUR-MESURE CLÉ EN MAIN</h6>
                    <p>Maquis-Art transforme vos
                        besoins, vos idées, vos envies
                        en une prestation unique,
                        à votre mesure.</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img class="picto-center" id="pictodevis" src="{{ asset('images/Devis-claire-0500DF.png') }}">
                    <h6>UN DEVIS CLAIR ET RAPIDE</h6>
                    <p>Maquis-Art s’applique à vous
                        proposer un devis clair et
                        détaillé, et ce dans les plus
                        brefs délais.</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img class="picto-center" src="{{ asset('images/Client-satisfait-0500DF.png') }}">
                    <h6>DES CLIENTS SATISFAITS</h6>
                    <p>Maquis-Art place le client au cœur
                        de ses ambitions grace à
                        association vertueuse : écoute
                        et force de proposition.</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img id="pictolike" class="picto-center" src="{{ asset('images/Like-0500DF.png') }}">
                    <h6>DES PARTICIPANTS CONQUIS</h6>
                    <p>Maquis-Art analyse les besoins

                        des participants et propose des prestations adaptées

                        qui vous correspondent.</p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->



        </div><!-- /.container -->




{% endblock %}
