{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Presse{% endblock %}

{% block body %}


    <h3 class="text-center">PRESSE</h3>



    <!--<div class="row">
       <div class="col-md-12">

           <div id="mdb-lightbox-ui"></div>

           <div class="mdb-lightbox no-margin">

               <figure class="col-md-4">
                   <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg" data-size="1600x1067">
                       <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
                            class="img-fluid">
                   </a>
               </figure>

               <figure class="col-md-4">
                   <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(98).jpg" data-size="1600x1067">
                       <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(98).jpg"
                            class="img-fluid" />
                   </a>
               </figure>

               <figure class="col-md-4">
                   <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(131).jpg" data-size="1600x1067">
                       <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(131).jpg"
                            class="img-fluid" />
                   </a>
               </figure>

               <figure class="col-md-4">
                   <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg" data-size="1600x1067">
                       <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
                            class="img-fluid" />
                   </a>
               </figure>

               <figure class="col-md-4">
                   <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(118).jpg" data-size="1600x1067">
                       <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(118).jpg"
                            class="img-fluid" />
                   </a>
               </figure>

               <figure class="col-md-4">
                   <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(128).jpg" data-size="1600x1067">
                       <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(128).jpg"
                            class="img-fluid" />
                   </a>
               </figure>

               <figure class="col-md-4">
                   <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(132).jpg" data-size="1600x1067">
                       <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg"
                            class="img-fluid" />
                   </a>
               </figure>

               <figure class="col-md-4">
                   <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(115).jpg" data-size="1600x1067">
                       <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg"
                            class="img-fluid" />
                   </a>
               </figure>

               <figure class="col-md-4">
                   <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(133).jpg" data-size="1600x1067">
                       <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(133).jpg"
                            class="img-fluid" />
                   </a>
               </figure>

           </div>

       </div>
   </div>
   -->



    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-12 row mb-r">

            <!--Panel-->
            <div class="card card-body col-5 m-auto">
                <div class="media d-block">
                    <img class="d-flex col-12 mb-md-0 mb-3 mx-auto" src="{{ asset('images/presse/telerama.jpg') }}" alt="Generic placeholder image">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <blockquote class="blockquote">
                            <p class="mb-0">"Cachée dans le 18e arrondissement, la nouvelle caverne d'Ali Baba du street art "</p>
                            <p class="blockquote-footer"><cite title="Source Title">Télérama</cite></p>
                        </blockquote>
                        <a href="https://www.telerama.fr/sortir/cachee-dans-le-18e-arrondissement-la-nouvelle-caverne-d-ali-baba-du-street-art,161220.php" ><button type="button" class="btn background-bleu  text-white btn-md">Voir l'article</button></a>
                    </div>

                </div>
            </div>
            <!--/.Panel-->

            <!--Panel-->
            <div class="card card-body mb-3 col-5 m-auto">
                <div class="media d-block">

                    <img class="d-flex col-12 mb-md-0 mb-3 mx-auto" src="{{ asset('images/presse/parisien.jpg') }}" alt="Generic placeholder image">

                    <div class="media-body pr-md-3 pr-0 text-center text-md-left">
                        <blockquote class="blockquote">
                            <p class="mb-0">"Paris : ne cherchez plus, voilà l’endroit le plus cool de Paris"</p>
                            <p class="blockquote-footer"><cite title="Source Title">Le Parisien</cite></p>
                        </blockquote>
                        <a href="http://www.leparisien.fr/paris-75/paris-75018/paris-ne-cherchez-plus-voila-l-endroit-le-plus-cool-de-paris-07-08-2017-7180863.php" ><button type="button" class="btn background-bleu  text-white btn-md">Voir l'article</button></a>
                    </div>

                </div>
            </div>
            <!--/.Panel-->



            <!--Panel-->
            <div class="card card-body mb-3 mt-5 mb-5">
                <div class="media d-block">
                    <img class="d-flex col-10 mb-md-0 mb-3 mx-auto" src="{{ asset('images/presse/sortiraparis.jpg') }}" alt="Generic placeholder image">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <blockquote class="blockquote">
                            <p class="mb-0">"L'aérosol, le temple de la street culture reviens à Paris"</p>
                            <p class="blockquote-footer"><cite title="Source Title">Sortir à Paris</cite></p>
                        </blockquote>
                        <a href="https://www.sortiraparis.com/arts-culture/balades/articles/165710-l-aerosol-le-temple-de-la-street-culture-revient-a-paris" ><button type="button" class="btn background-bleu  text-white btn-md">Voir l'article</button></a>
                    </div>
                </div>
            </div>
            <!--/.Panel-->


            <!--Panel-->
            <div class="card card-body col-5 m-auto">
                <div class="media d-block">
                    <img class="d-flex col-12 mb-md-0 mb-3 mx-auto" src="{{ asset('images/presse/franceculture.webp') }}" alt="Generic placeholder image">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <blockquote class="blockquote">
                            <p class="mb-0">"L'Aérosol : street art pour ancien hangar SNCF"</p>
                            <p class="blockquote-footer"><cite title="Source Title">France Culture</cite></p>
                        </blockquote>
                        <a href="https://www.franceculture.fr/emissions/les-carnets-de-la-creation/les-carnets-de-la-creation-lundi-16-octobre-2017" ><button type="button" class="btn background-bleu  text-white btn-md">Voir l'article</button></a>
                    </div>

                </div>
            </div>
            <!--/.Panel-->



            <!--Panel-->
            <div class="card card-body mb-3 col-5 m-auto">
                <div class="media d-block">

                    <img class="d-flex col-12 mb-md-0 mb-3 mx-auto" src="{{ asset('images/presse/lebonbon.webp') }}" alt="Generic placeholder image">


                    <div class="media-body pr-md-3 pr-0 text-center text-md-left">
                        <blockquote class="blockquote">
                            <p class="mb-0">"Dégustations, ateliers, teuf et Roller Derby pour la réouverture de l'Aérosol !"</p>
                            <p class="blockquote-footer"><cite title="Source Title">Le Bonbon</cite></p>
                        </blockquote>
                        <a href="https://www.lebonbon.fr/paris/loisirs/aerosol-temple-street-culture-paris/" ><button type="button" class="btn background-bleu  text-white btn-md">Voir l'article</button></a>
                    </div>
                </div>
            </div>
            <!--/.Panel-->






        </div>
        <!-- Grid column -->

        <!-- Grid column -->


 {#       <div class="col-md-10 col-lg-9 col-xl-6">

            <!--Panel-->
            <div class="card mb-3">
                <h3 class="card-header indigo white-text text-uppercase text-center">Authors</h3>
                <div class="card-body">
                    <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
                        <img class="d-flex mb-md-0 mb-3 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (3)-mini.jpg"
                             alt="Generic placeholder image">
                        <div class="media-body ml-md-3 ml-0">
                            <p align="justify">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                                provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                                fuga.
                            </p>
                            <div class="text-center text-md-left">
                                <button type="button" class="btn btn-indigo btn-rounded btn-md">Read more</button>
                            </div>
                        </div>
                    </div>

                    <div class="media d-block d-md-flex">
                        <div class="media-body mr-md-3 mr-0">
                            <p align="justify">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis
                                est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
                                voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis.</p>
                            <div class="text-center text-md-left">
                                <button type="button" class="btn btn-indigo btn-rounded btn-md">Read more</button>
                            </div>
                        </div>
                        <img class="d-flex mr-3 mb-md-0 mb-3 mt-md-0 mt-4 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (2)-mini.jpg"
                             alt="Generic placeholder image">
                    </div>
                </div>
            </div>
            <!--/.Panel-->

        </div>#}


        <!-- Grid column -->

    </div>
    <!-- Grid row -->







{% endblock %}