{% extends 'base.html.twig' %}

{% block body %}

    <main role="main">

        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">


            <h1 class="text-center">PRESTATION</h1>
            <h3 class="text-center">Evenementiel</h3>

            <div class="d-flex">
                <div class="col-6">
                    <p>Maquis-Art propose de faire vibrer vos événements en intégrant une animation artistique originale, unique et sur-mesure menée par un artiste professionnel.</p>
                    <p>Notre agence propose diverses prestations que nous personnalisons selon vos envies, votre charte graphique, votre domaine professionnel et le type de soirée concernée, car chacune a ses codes : Gala, Kick Off, Séminaire, Inauguration, Convention...
                        Body Painting, Live Painting, Light Painting, Soirée Cultures Urbaines…à votre mesure !</p>
                    <p>Nous pouvons aussi bien intervenir pour une animation ponctuelle intégrée dans le cours de votre événement, que proposer un événement clé en main telle qu’une soirée thématique et entièrement tournée vers les Cultures Urbaines : Live Painting, Danse Hip-hop, show de BMX ou Skate, DJ, traiteur…
                        Tout est possible !</p>
                </div>


                <div class="col-6 background-bleu rounded text-white ">
                    <h3 class="pt-3">Benefice</h3>
                    <ul class="benef">
                        <li class="p-3"><i class="fas fa-border-all fa-3x"></i>Sortir du cadre formel de l'entreprise</li>
                        <li class="p-3"><i class="far fa-comments fa-3x"></i>Favoriser la communication spontanée</li>
                        <li class="p-3"><i class="fas fa-heart fa-3x"></i>Valoriser les participants</li>
                        <li class="p-3"><i class="fas fa-link fa-3x"></i>Augmenter l'attachement et l'identification à l'entreprise</li>
                    </ul>
                </div>

            </div>
            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-6 p-5">
                    <img class="col-12" src="{{ asset('images/graffnum/graffnum_3.JPG') }}" alt="Graffiti Numérique">
                </div>
                <div class="col-md-6 p-5">
                    <h2 class="featurette-heading">LIVEPAINTING</h2>
                    <p>Le Live Painting est une performance artistique, par un ou plusieurs artistes qui peignent
                        en direct une fresque.</p>
                    <p>Une création artistique exceptionnelle, impressionnante qui marque les esprits !</p>
                    <p>Les artistes de Maquis-Art partagent en live leur style, leur univers artistique, leur passion de la création. Les invités découvrent les outils, les techniques, la dextérité du geste, du premier trait jusqu’à l’œuvre finale.
                        En amont de l’événement, nos artistes préparent avec vous une esquisse adaptée à vos envies, impératifs (charte graphique, thème de l’événement…) afin que l’œuvre vous ressemble.</p>
                    <p>A la fin de la soirée, elle est à vous ! Son exposition dans les locaux de l’entreprise ravira vos employés et visiteurs par son originalité !</p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">

                <div class="col-md-6 p-5">
                    <h2 class="featurette-heading">LIGHTPAINTING</h2>
                    <p>Avec la prestation Light Painting, les participants sont tour à tour artiste puis modèle !</p>
                    <p>En effet, par petits groupes ou individuellement, les invités créent une œuvre de lumière en laissant libre cours à leur imagination avec des formes et des lettrages...Puis, dans ce décor féerique, et à chaque fois unique, ils sont photographiés.</p>
                    <p>Pour un effet ludique immédiat, les œuvres sont projetées sur un écran. Elles peuvent aussi être imprimées en direct et remises aux invités au format photo, avec votre logo intégré, et transmises au format numérique.
                        Elles sont alors un cadeau-souvenir idéal !
                        Le Light Painting égayera votre soirée par son aspect moderne, créatif, original et fun !</p>
                </div>
                <div class="col-md-6 p-5">
                    <img class="col-12" src="{{ asset('images/light/LightVeolia.jpg') }}" alt="Graffiti Numérique">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-6 p-5">
                    <img class="col-12" src="{{ asset('images/custo/custo_1.jpeg') }}" alt="Graffiti Numérique">
                </div>
                <div class="col-md-6 p-5">
                    <h2 class="featurette-heading">CUSTOMISATION</h2>
                    <p>Maquis-Art propose un cadeau exceptionnel à vos participants : un produit customisé à la main.</p>
                    <p>Ce cadeau-souvenir, véritable marqueur de tendance et de qualité de votre événement, rendra votre soirée inoubliable.</p>
                    <p>Plusieurs options s'offrent à vous !</p>
                    <p>En amont de l’événement ou pendant, notre artiste personnalise vos objets. Soit des objets personnels apportés par chaque invité, soit des objets choisis par vos soins pour un lancement de produit, pour sa valeur symbolique etc...</p>
                    <p>Cette prestation permet de cumuler deux éléments exceptionnels:</p>
                    <p>Observer en direct le travail d'orfèvre de l'artiste et repartir avec un produit qui est devenu une « œuvre »...le luxe de l'unique !</p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">

                <div class="col-md-6 p-5">
                    <h2 class="featurette-heading">GRAFF NUMERIQUE</h2>
                    <p>Le Graffiti numérique, ou virtuel, est une animation participative, ludique et créative qui s’inspire des techniques et des gestes utilisés dans le graffiti traditionnel à la bombe.</p>
                    <p>Les convives choisissent un fond personnalisé : image de votre nouveau produit, logo en overlay etc... Puis, accompagnés de l'artiste, ils laissent libre cours à leur imagination et créent une œuvre de Street Art avec les bombes à infrarouge, pictogrammes, pochoirs et différentes options mises à disposition.</p>
                    <p>Mixez technologie et art est un plaisir pour les invités ! Ils font émerger facilement des œuvres originales, personnalisées et immortalisées par des photos récupérées instantanément au format papier ou bien dans leur boîte mail.</p>
                </div>
                <div class="col-md-6 p-5">
                    <img class="col-12" src="{{ asset('images/graffnum/graffnum_3.JPG') }}" alt="Graffiti Numérique">
                </div>
            </div>

            <div class="row featurette">
                <div class="col-md-6 p-5">
                    <img class="col-12" src="{{ asset('images/cultureurbaine/bmx2.webp') }}" alt="Graffiti Numérique">
                </div>
                <div class="col-md-6 p-5">
                    <h2 class="featurette-heading">CULTURE URBAINES</h2>
                    <p>Maquis-Art vous invite à vivre une expérience incroyable d'immersion dans la Street Culture : rap, électro, battle de Hip-hop, exposition de Street art et Graffiti, vidéos, démonstration sportive de BMX, skate …</p>
                    <p>Les cultures urbaines puisent leur source dans l’univers de la ville et mettent en lumière ses pratiques variées pour un lancement de produit, soirée, inauguration, convention, road show,  workshop, séminaire d’entreprise...</p>
                    <p>Maquis-Art vous créera une solution clé en main correspondant à vos souhaits : une prestation sur mesure par la création et la production de l’ensemble de votre événement du traiteur, en passant par une performance jusqu'au DJ set ! Nous nous adaptons à vos contraintes et réalisons vos projets jusqu’au bout.</p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-6 p-5">
                    <h2 class="featurette-heading">BODY PAINTING</h2>
                    <p>Le Graffiti numérique, ou virtuel, est une animation participative, ludique et créative qui s’inspire des techniques et des gestes utilisés dans le graffiti traditionnel à la bombe.</p>
                    <p>Les convives choisissent un fond personnalisé : image de votre nouveau produit, logo en overlay etc... Puis, accompagnés de l'artiste, ils laissent libre cours à leur imagination et créent une œuvre de Street Art avec les bombes à infrarouge, pictogrammes, pochoirs et différentes options mises à disposition.</p>
                    <p>Mixez technologie et art est un plaisir pour les invités ! Ils font émerger facilement des œuvres originales, personnalisées et immortalisées par des photos récupérées instantanément au format papier ou bien dans leur boîte mail.</p>
                </div>
                <div class="col-md-6 p-5">
                    <img class="col-12" src="{{ asset('images/bodypainting/BodyOrleans.jpg') }}" alt="Graffiti Numérique">
                </div>
            </div>

            <hr class="featurette-divider">

            <h3 class="text-center">TEAM BUILDING</h3>


            <div class="d-flex">
                <div class="col-6">
                    <p>Maquis-Art propose des Team Building originaux et uniques ou créativité, esprit d’équipe et communication séduiront les participants. Quand il faut dynamiser vos équipes et renforcer la cohésion, le Team Building artistique ouvre des voies inédites basées sur l’expérimentation et le partage créatif.
                        Maquis-Art met tout son savoir-faire à votre disposition pour construire avec vous un Team Building ludique, inspiré de votre environnement professionnel, de vos valeurs, de votre identité.</p>
                    <p>Nos solutions innovantes dans l’animation de vos événements sur-mesure sauront fédérer vos salariés, révéler l'identité du groupe et valoriser l’image de votre société.</p>
                    <p>Maquis-Art est une des seules agences à maîtriser l’organisation de Team Building géants ! Nous vous attendons !</p>
                </div>



                <div class="col-6 background-bleu rounded text-white ">
                    <h3 class="pt-3">Benefice</h3>
                    <ul class="benef">
                        <li class="p-3"><i class="fas fa-border-all fa-3x"></i>Faciliter le lâcher-prise avec une activité ludique</li>
                        <li class="p-3"><i class="far fa-comments fa-3x"></i>Faire émerger les talents en libérant la créativité artistique</li>
                        <li class="p-3"><i class="fas fa-heart fa-3x"></i>Développer communication, agilité, gestion du stress</li>
                        <li class="p-3"><i class="fas fa-link fa-3x"></i>Favoriser la cohésion d'équipe(s)</li>
                        <li class="p-3"><i class="fas fa-link fa-3x"></i>Augmenter l'attachement et l'identification à l'entreprise</li>
                    </ul>

                </div>

            </div>


            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-6 p-5">
                    <img class="col-12" src="{{ asset('images/deco/19.JPG') }}" alt="Graffiti Numérique">
                </div>
                <div class="col-md-6 p-5">
                    <h2 class="featurette-heading">FRESQUE</h2>
                    <p>Le Graffiti numérique, ou virtuel, est une animation participative, ludique et créative qui s’inspire des techniques et des gestes utilisés dans le graffiti traditionnel à la bombe.</p>
                    <p>Les convives choisissent un fond personnalisé : image de votre nouveau produit, logo en overlay etc... Puis, accompagnés de l'artiste, ils laissent libre cours à leur imagination et créent une œuvre de Street Art avec les bombes à infrarouge, pictogrammes, pochoirs et différentes options mises à disposition.</p>
                    <p>Mixez technologie et art est un plaisir pour les invités ! Ils font émerger facilement des œuvres originales, personnalisées et immortalisées par des photos récupérées instantanément au format papier ou bien dans leur boîte mail.</p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">

                <div class="col-md-6 p-5">
                    <h2 class="featurette-heading">WALL OF FAME</h2>
                    <p>Le Graffiti numérique, ou virtuel, est une animation participative, ludique et créative qui s’inspire des techniques et des gestes utilisés dans le graffiti traditionnel à la bombe.</p>
                    <p>Les convives choisissent un fond personnalisé : image de votre nouveau produit, logo en overlay etc... Puis, accompagnés de l'artiste, ils laissent libre cours à leur imagination et créent une œuvre de Street Art avec les bombes à infrarouge, pictogrammes, pochoirs et différentes options mises à disposition.</p>
                    <p>Mixez technologie et art est un plaisir pour les invités ! Ils font émerger facilement des œuvres originales, personnalisées et immortalisées par des photos récupérées instantanément au format papier ou bien dans leur boîte mail.</p>
                </div>
                <div class="col-md-6 p-5">
                    <img class="col-12" src="{{ asset('images/graffnum/graffnum_3.JPG') }}" alt="Graffiti Numérique">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-6 p-5">
                    <img class="col-12" src="{{ asset('images/recyclart.jpeg') }}" alt="Graffiti Numérique">
                </div>
                <div class="col-md-6 p-5">
                    <h2 class="featurette-heading">RECYCL'ART</h2>
                    <p>Le Graffiti numérique, ou virtuel, est une animation participative, ludique et créative qui s’inspire des techniques et des gestes utilisés dans le graffiti traditionnel à la bombe.</p>
                    <p>Les convives choisissent un fond personnalisé : image de votre nouveau produit, logo en overlay etc... Puis, accompagnés de l'artiste, ils laissent libre cours à leur imagination et créent une œuvre de Street Art avec les bombes à infrarouge, pictogrammes, pochoirs et différentes options mises à disposition.</p>
                    <p>Mixez technologie et art est un plaisir pour les invités ! Ils font émerger facilement des œuvres originales, personnalisées et immortalisées par des photos récupérées instantanément au format papier ou bien dans leur boîte mail.</p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">

                <div class="col-md-6 p-5">
                    <h2 class="featurette-heading">VEGEGRAFF</h2>
                    <p>Le Graffiti numérique, ou virtuel, est une animation participative, ludique et créative qui s’inspire des techniques et des gestes utilisés dans le graffiti traditionnel à la bombe.</p>
                    <p>Les convives choisissent un fond personnalisé : image de votre nouveau produit, logo en overlay etc... Puis, accompagnés de l'artiste, ils laissent libre cours à leur imagination et créent une œuvre de Street Art avec les bombes à infrarouge, pictogrammes, pochoirs et différentes options mises à disposition.</p>
                    <p>Mixez technologie et art est un plaisir pour les invités ! Ils font émerger facilement des œuvres originales, personnalisées et immortalisées par des photos récupérées instantanément au format papier ou bien dans leur boîte mail.</p>
                </div>
                <div class="col-md-6 p-5">
                    <img class="col-12" src="{{ asset('images/graffnum/graffnum_3.JPG') }}" alt="Graffiti Numérique">
                </div>
            </div>

            <div class="row featurette">
                <div class="col-md-6 p-5">
                    <img class="col-12" src="{{ asset('images/mosaic/mosa3.png') }}" alt="Graffiti Numérique">
                </div>
                <div class="col-md-6 p-5">
                    <h2 class="featurette-heading">MOSAIK</h2>
                    <p>Le Graffiti numérique, ou virtuel, est une animation participative, ludique et créative qui s’inspire des techniques et des gestes utilisés dans le graffiti traditionnel à la bombe.</p>
                    <p>Les convives choisissent un fond personnalisé : image de votre nouveau produit, logo en overlay etc... Puis, accompagnés de l'artiste, ils laissent libre cours à leur imagination et créent une œuvre de Street Art avec les bombes à infrarouge, pictogrammes, pochoirs et différentes options mises à disposition.</p>
                    <p>Mixez technologie et art est un plaisir pour les invités ! Ils font émerger facilement des œuvres originales, personnalisées et immortalisées par des photos récupérées instantanément au format papier ou bien dans leur boîte mail.</p>
                </div>
            </div>



            <h3 class="text-center">DECORATION MURALE</h3>

            <div class="d-flex">
                <div class="col-6">
                    <p>Les artistes Maquis-Art conçoivent et réalisent des décorations murales personnalisées, pour professionnels et particuliers, dans des lieux publics et privés, en intérieur comme en extérieur.</p>
                    <p>Nos Street-Artistes, actifs, talentueux, utilisent leur talent brut, leur style au service de vos attentes pour créer une œuvre à votre image. Que l’on parte de votre logo, de votre identité visuelle ou autre, l’œuvre est un nouveau mode de communication original pour vos équipes, vos clients.  </p>
                    <p>Hall d'accueil, salle d'attente, salle de réunion, véhicule, décor de film et façade, même monumentale, nos artistes sont prêts !</p>
                </div>

                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item active">Fiche technique</li>
                        <li class="list-group-item"><i class="fas fa-border-all"></i>Lieu : Interieur/Extérieur</li>
                        <li class="list-group-item"><i class="far fa-comments"></i>Style : Tous !</li>
                        <li class="list-group-item"><i class="fas fa-heart"></i>Taille : NoLimit ! </li>
                        <li class="list-group-item"><i class="fas fa-link"></i>Durée : Définitif Ephémère</li>
                        <li class="list-group-item"><i class="fas fa-link"></i>Supports : Un mur, une vitre</li>
                    </ul>
                </div>

            </div>



            <!-- /END THE FEATURETTES -->


            <div class="row">
                <div class="col-md-12">

                    <div id="mdb-lightbox-ui"></div>

                    <div class="mdb-lightbox no-margin">

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg" data-size="1600x1067">
                                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
                                     class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(98).jpg" data-size="1600x1067">
                                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(98).jpg"
                                     class="img-fluid" />
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(131).jpg" data-size="1600x1067">
                                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(131).jpg"
                                     class="img-fluid" />
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg" data-size="1600x1067">
                                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
                                     class="img-fluid" />
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(118).jpg" data-size="1600x1067">
                                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(118).jpg"
                                     class="img-fluid" />
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(128).jpg" data-size="1600x1067">
                                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(128).jpg"
                                     class="img-fluid" />
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(132).jpg" data-size="1600x1067">
                                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg"
                                     class="img-fluid" />
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(115).jpg" data-size="1600x1067">
                                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg"
                                     class="img-fluid" />
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(133).jpg" data-size="1600x1067">
                                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(133).jpg"
                                     class="img-fluid" />
                            </a>
                        </figure>

                    </div>

                </div>
            </div>





        </div><!-- /.container -->


<script>
    $(function () {
        $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
    });
</script>

{% endblock %}
