{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Nos Préstations{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/preta.css') }}">
{% endblock %}

{% block body %}



    <div role="main">



        <div class="row">

            <div id="event" class="container col-12 pt-3">
                <!-- Top Navigation -->
                <div class="content">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="{{ asset('images/home/presta_1.jpg') }}" class="w-100 h-100" alt="Graffiti Numérique">
                            <figcaption>
                                <h2><span>Evenementiel</span></h2>
                                <p>LivePainting, LightPainting, Customisation, Graffiti Numérique, Cultures Urbaines, Body Painting</p>
                                <a href="/event">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div><!-- /container -->

            <div id="team" class="container col-12 pt-3">
                <!-- Top Navigation -->
                <div class="content">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="{{ asset('images/home/presta_1.jpg') }}" class="w-100 h-100" alt="Graffiti Numérique">
                            <figcaption>
                                <h2><span>TeamBuilding</span></h2>
                                <p>Fresque, Wall Of Fame, Recycl'art, Vegegraff, Mosaique</p>
                                <a href="/teambuilding">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div><!-- /container -->

            <div id="deco" class="container col-12 pt-3">
                <!-- Top Navigation -->
                <div class="content">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="{{ asset('images/facade.jpg') }}"  class="w-100 h-100" alt="Graffiti Numérique">
                            <figcaption>
                                <h2><span>Décoration</span></h2>
                                <p>Décoration, Murale, Fresque</p>
                                <a href="/decoration">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div><!-- /container -->

        </div>



{% endblock %}
