{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Team Bulding{% endblock %}

{% block body %}

<main role="main">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">


        <h3 class="text-center">TEAM BUILDING</h3>


        <div class="d-flex pt-5">
            <div class="col-6">
                <p>Maquis-Art propose des Team Building originaux et uniques ou créativité, esprit d’équipe et communication séduiront les participants. Quand il faut dynamiser vos équipes et renforcer la cohésion, le Team Building artistique ouvre des voies inédites basées sur l’expérimentation et le partage créatif.
                    Maquis-Art met tout son savoir-faire à votre disposition pour construire avec vous un Team Building ludique, inspiré de votre environnement professionnel, de vos valeurs, de votre identité.</p>
                <p>Nos solutions innovantes dans l’animation de vos événements sur-mesure sauront fédérer vos salariés, révéler l'identité du groupe et valoriser l’image de votre société.</p>
                <p>Maquis-Art est une des seules agences à maîtriser l’organisation de Team Building géants ! Nous vous attendons !</p>
            </div>


            <div class="col-6">
                <div class="row text-center pb-2">
                    <div class="col-6 pt-5">
                        <div class="counter">
                            <i class="fas fa-dove fa-2x picto-bleu"></i>
                            <p class="count-text ">Faciliter le lâcher-prise </p>
                        </div>
                    </div>
                    <div class="col-6 pt-5">
                        <div class="counter">
                            <i class="fas fa-palette fa-2x"></i>
                            <p class="count-text">Faire émerger les talents </p>
                        </div>
                    </div>
                    <div class="col-6 pt-5">
                        <div class="counter">
                            <i class="fas fa-users fa-2x"></i>
                            <p class="count-text ">
                                Développer la cohésion d'équipe(s)</p>
                        </div>
                    </div>
                    <div class="col-6 pt-5">
                        <div class="counter">
                            <i class="fas fa-id-badge fa-2x"></i>
                            <p class="count-text ">Augmenter l'identification à l'entreprise</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12">

            <a class="btn background-bleu text-white" data-toggle="collapse" href="#collapseTeam" role="button" aria-expanded="false" aria-controls="collapseTeam">
                Voir plus
            </a>


            <div class="collapse" id="collapseTeam">
                     
                    <p><span class=" badge background-bleu text-white ml-2">Œuvrer</span><span class=" badge background-bleu text-white ml-2">Construire</span><span class=" badge background-bleu text-white ml-2">Partager</span></p>
                    <p>Qu’est-ce qu’un Team Building ?</p>
                    <p>
                        Le Team Building, comme son nom l’indique, consiste à créer une équipe. Mais, c’est également un processus visant à créer, consolider les liens entre chaque membre de l’équipe ou entre équipes différentes. Cette méthode s’avère efficace pour développer la solidarité et a aussi l’avantage de stimuler la conscience professionnelle de chacun. Ainsi, la personne prendra ses responsabilités et s’impliquera plus dans son travail. Évidemment, les relations professionnelles se verront aussi améliorées par la cohésion de l’équipe.                </p>
                    <p>
                        Le Team Building est un ensemble d’activités stimulantes et enrichissantes, qui favorise l’apprentissage dans le plaisir. Il capte l’attention et la mémoire du groupe ; le transfert des outils acquis durant ces exercices vers le quotidien professionnel se fait ainsi naturellement et de façon durable.
                    </p>
                    <p>
                        Petite histoire du Team Building !
                    </p>
                    <p>
                        Il faut remonter presque 80 ans en arrière pour explorer les origines du Team Building. L’une des premières études concernant le comportement des salariés sur le lieu de travail a été effectuée par un certain professeur Elton Mayo. Ses travaux concernaient le travail d’équipe de 1927 à 1932, à la Western Electric Hawthorne Works à Chicago.
                    </p>
                    <p>
                        L’ambition première des travaux du professeur Mayo était d’établir un lien entre la productivité et les conditions de travail des employés. Il a commencé par examiner les influences physiques et environnementales du lieu de travail puis il s’est intéressé à des aspects psychologiques comme la pression du groupe, les pauses, les heures de travail etc.
                    </p>
                    <p>
                        Grâce à ces recherches, il existe, de nos jours, de multiples théories concernant la manière dont fonctionnent les équipes qui œuvrent ensemble, ainsi que sur la motivation des employés, le développement des équipes, la culture sur le lieu de travail et les bénéfices des récompenses ainsi que la reconnaissance du travail accompli.
                    </p>


            </div>
        </div>


        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-6 mt-2">
                <div id="carouselFresque" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{{ asset('images/fresques/slide/fresq1.jpeg') }}" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{ asset('images/fresques/slide/fresq2.JPG') }}" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{ asset('images/fresques/slide/fresq3.jpg') }}" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{ asset('images/fresques/slide/fresq4.JPG') }}" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselFresque" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselFresque" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 p-1">
                <h2 class="featurette-heading">FRESQUE</h2>
                <p>L'activité Team Building Fresque permet de créer, tous ensemble, une fresque dans l'esprit du Graffiti ou du Street Art.</p>
                <p>Dès le brainstorming, échanges et réflexions font émerger une émulation collective pour concevoir le visuel de l’œuvre qui pourra symboliser l'activité, les valeurs de l'entreprise.</p>
                <p>Chacun s’exprime, créée tout en respectant une vision commune. Les artistes encouragent chaque participant à trouver l’inspiration et les moyens de s'exprimer dans le respect du projet commun.</p>
                <p>C’est un Team Building qui développe la créativité, l’adaptabilité et créé un lien fort entre les participants. Un vrai travail d'équipe !</p>
            </div>
        </div>



        <div class="col-12 d-flex align-items-end ml-4 flex-column">

            <a class="btn background-bleu text-white" data-toggle="collapse" href="#collapseFresque" role="button" aria-expanded="false" aria-controls="collapseFresque">
                Voir plus
            </a>



            <div class="collapse row p-3" id="collapseFresque">
                <div class="col-6">
                 
                <p><span class=" badge background-bleu text-white ml-2">Créer</span><span class=" badge background-bleu text-white ml-2">Echanger</span><span class=" badge background-bleu text-white ml-2">Enthousiasmer</span></p>
                <p>Matériel fourni : grande toile, bombes aérosol, marqueurs, masque, combinaison de protection</p>
                <p>Petite histoire de la fresque !</p>
                <p>La peinture murale est une peinture monumentale dont le support est un mur intérieur ou extérieur, une voûte ou un plafond, par opposition à la peinture de chevalet. La peinture murale, la plus ancienne dont on ait conservé la trace, est l'art pariétal soit des peintures murales préhistoriques. La fresque est en fait une technique historique importante de peinture murale dans laquelle l'artiste applique la couleur très rapidement sur un enduit de chaux encore frais, technique dite « a fresco ». Le langage courant désigne par « fresque » la peinture murale en général et tout ouvrage de grande dimension. Au XXIème siècle, la plus grande partie de la peinture murale se trouve en extérieur, dans les créations plus ou moins éphémères de l’art urbain qui envahit les façades des grands immeubles.</p>
                </div>

                <div class="col-6 pt-5">
                    <h3 class="text-center pb-2">Fiche technique</h3>
                    <div class="row text-center pb-2">
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-history fa-2x picto-bleu"></i>
                                <p class="count-text ">Durée : De 1H à 5H</p>
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-users fa-2x"></i>
                                <p class="count-text ">Nb participants : de 1 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-arrows-alt fa-2x"></i>
                                <p class="count-text ">M² minimum : De 50 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <div class="counter">
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                <p class="count-text ">Lieu : Intérieur & Extérieur</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">

            <div class="col-md-6">
                <h2 class="featurette-heading">WALL OF FAME</h2>
                <p>L’animation Team Building Wall of Fame propose d’entrer dans l’univers du Graffiti par le biais d’une activité techniquement facile, originale et ou « chacun aura son mot à dire » !</p>
                <p>Maquis-Art met à votre disposition un panneau blanc, mur d’expression libre qui devient le terrain de jeu des participants. Ils peuvent laisser libre-court à leurs pensées et ainsi cumuler mots, messages de façon libre ou thématique.</p>
                <p>Lorsque l’œuvre collective arrive à saturation de mots écrits, il est temps de décoller les lettres ou logo prédécoupé pour découvrir l’impressionnant résultat final !</p>
            </div>
            <div class="col-md-6">
                <h6 style="color: red">IMAGE MANQUANTE</h6>
                <img class="col-12" src="{{ asset('images/graffnum/graffnum_3.JPG') }}" alt="Graffiti Numérique">
            </div>
        </div>

        <div class="col-12 p-0">

            <a class="btn background-bleu text-white" data-toggle="collapse" href="#collapseWall" role="button" aria-expanded="false" aria-controls="collapseWall">
                Voir plus
            </a>



            <div class="collapse row p-3" id="collapseWall">
                <div class="col-6">
                 
                <p><span class=" badge background-bleu text-white ml-2">Exprimer</span><span class=" badge background-bleu text-white ml-2">Libérer</span><span class=" badge background-bleu text-white ml-2">Surprendre</span></p>
                <p>	Matériel fourni : support blanc avec une partie contenant le « message caché » qui se décolle, marqueurs de toutes les couleurs</p>
                <p>Petite histoire du Wall of Fame !</p>
                <p>Wall of Fame est une référence au Walk of Fame (littéralement « Promenade de la Célébrité ») qui est un trottoir célèbre du quartier de Hollywood à Los Angeles. Situé sur Hollywood Boulevard, y figurent sous forme d’étoile, les noms de célébrités de l'industrie du spectacle honorées par la Chambre de commerce de Los Angeles. En 2019, le Walk of Fame comptait 2 621 étoiles.</p>
                </div>

                <div class="col-6 pt-5">
                    <h3 class="text-center pb-2">Fiche technique</h3>
                    <div class="row text-center pb-2">
                        <div class="col-6 pt-2">
                            <div class="counter">
                                <i class="fas fa-history fa-2x picto-bleu"></i>
                                <p class="count-text ">Durée : De 1H à 5H</p>
                            </div>
                        </div>
                        <div class="col-6 pt-2">
                            <div class="counter">
                                <i class="fas fa-users fa-2x"></i>
                                <p class="count-text ">Nb participants : de 1 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-6 pt-2">
                            <div class="counter">
                                <i class="fas fa-arrows-alt fa-2x"></i>
                                <p class="count-text ">M² minimum : De 50 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-6 pt-2">
                            <div class="counter">
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                <p class="count-text ">Lieu : Intérieur & Extérieur</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>



        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-6">
                <img class="col-12" src="{{ asset('images/recyclart2.jpeg') }}" alt="Graffiti Numérique">
            </div>
            <div class="col-md-6">
                <h2 class="featurette-heading">RECYCL'ART</h2>
                <p class="text-justify">Ne sous-estimez pas le potentiel esthétique de vos déchets !</p>
                <p class="text-justify">Recycl’Art est une animation originale, engagée, écologique, mêlant Art et recyclage.</p>
                <p class="text-justify">Découpez, collez, graffez afin de réaliser une œuvre collective en lien avec l’identité de votre entreprise.</p>
                <p class="text-justify">Cartons, papiers, bouchons, canettes, bouteilles, pots, emballages que vous apportez auront une seconde vie dans la Fresque Recycl’Art qui fera ressortir un message, un visuel préalablement choisi.</p>
                <p class="text-justify">Provoquez, au sein de vos équipes, des discussions sur la question environnementale, le développement durable, et ce, de façon ludique et spontanée !</p>
            </div>
        </div>

        <div class="col-12 d-flex align-items-end ml-4 flex-column">

            <a class="btn background-bleu text-white" data-toggle="collapse" href="#collapseRecyclart" role="button" aria-expanded="false" aria-controls="collapseRecyclart">
                Voir plus
            </a>



            <div class="collapse row p-3" id="collapseRecyclart">
                <div class="col-6">
                 
                <p><span class=" badge background-bleu text-white ml-2">Conceptualiser</span><span class=" badge background-bleu text-white ml-2">Imaginer</span><span class=" badge background-bleu text-white ml-2">Transformer</span></p>
                <p>Matériel fourni : support, objets de récupération, colle, bombes aérosol </p>
                <p>Petite histoire du Recycl'Art !</p>
                <p>L’utilisation des déchets dans l’Art est le reflet d’une longue évolution artistique et sociétale. Les artistes, libérés de l’obligation de représenter des sujets nobles, peuvent tirer leur inspiration d’éléments plus triviaux tels que les déchets. L'art veut démontrer que les déchets, les composants obsolètes de nos poubelles, peuvent entrer dans un processus de création en tant que matériau et devenir autre chose. Ainsi, de plus en plus d’artistes utilisent ces matières pour construire leurs œuvres. Pablo Picasso fut l'un des premiers à employer dans ses œuvres avec des matériaux "grossiers"  tandis que l’Arte Povera (l’art pauvre), réunit des artistes italiens qui créent uniquement à partir d'objets ayant déjà eu une vie. César Baldaccini compressera des objets tels que des journaux, des tissus, des canettes ou encore des voitures. Tous, interrogent sur notre société de consommation frénétique.</p>
                <p>Aujourd'hui en France, 345 millions de tonnes de déchets sont générés chaque année. Dans une société où les ordures ne cessent de croître, le recyclage est devenu la pierre angulaire de la sauvegarde de l'environnement. </p>
                </div>

                <div class="col-6 pt-4">
                    <h3 class="text-center pb-2">Fiche technique</h3>
                    <div class="row text-center pb-2">
                        <div class="col-12">
                            <div class="counter">
                                <i class="fas fa-history fa-2x picto-bleu"></i>
                                <p class="count-text ">Durée : De 1H à 5H</p>
                            </div>
                        </div>
                        <div class="col-12 pt-3">
                            <div class="counter">
                                <i class="fas fa-users fa-2x"></i>
                                <p class="count-text ">Nb participants : de 1 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-12 pt-3">
                            <div class="counter">
                                <i class="fas fa-arrows-alt fa-2x"></i>
                                <p class="count-text ">M² minimum : De 50 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-12 pt-3">
                            <div class="counter">
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                <p class="count-text ">Lieu : Intérieur & Extérieur</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">

            <div class="col-md-6">
                <h2 class="featurette-heading">VEGEGRAFF</h2>
            <p class="text-justify">Basée sur une signalétique, un logo, un message, les participants fabriquent ensemble une œuvre à base de mousse végétale, une œuvre écologique !</p>
            <p class="text-justify">Ce Team Building de Street Art Végétal est l'occasion d'offrir aux collaborateurs un moment de détente, de convivialité propice aux échanges hors cadre professionnel et de s'interroger sur la ville, la biodiversité, le développement durable...et de s'impliquer.</p>
            <p class="text-justify">En extérieur, ces graffiti 100% Bio présentent des avantages insoupçonnés comme la réduction de la pollution de l’air, le maintien de la biodiversité. Ce graffiti végétal s’insère aujourd’hui comme un nouvel élément dans la palette du verdissement urbain.</p>
            <p class="text-justify">En intérieur, Maquis-Art propose d’habiller vos halls d’accueil, salle de réunion ou bureau, en optant pour une décoration intérieure qui apportera fraîcheur, vie et fierté.</p>
            <p class="text-justify">Bienvenue dans l'art écologique !</p>
            </div>
            <div class="col-md-6 pt-5">
                <div id="carouselVegeGraff" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{{ asset('images/vegegraff/slide/Vege1.jpeg') }}" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{ asset('images/vegegraff/slide/Vege2.jpeg') }}" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{ asset('images/vegegraff/slide/Vege3.jpeg') }}" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{ asset('images/vegegraff/slide/vege4.JPG') }}" alt="4 slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselVegeGraff" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselVegeGraff" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 p-0">

            <a class="btn background-bleu text-white" data-toggle="collapse" href="#collapseVege" role="button" aria-expanded="false" aria-controls="collapseVege">
                Voir plus
            </a>



            <div class="collapse row p-3" id="collapseVege">
                <div class="col-6">
                 
                <p><span class=" badge background-bleu text-white ml-2">Protéger</span><span class=" badge background-bleu text-white ml-2">Végétaliser</span><span class=" badge background-bleu text-white ml-2">Inspirer</span></p>
                <p>Matériel fourni : support , mousse, colle</p>
                <p>Petite histoire du Végé'Graff !</p>
                <p>Le végétal a toujours fait partie intégrante de l'histoire de l'Art, entre autre par des représentations symboliques rattachées à tel ou tel arbre ou plante, et ce dès le Moyen-Age.</p>
                <p>Puis, le végétal est rapidement devenu une œuvre en soi par le biais de l'art topiaire, ou « art du paysage ». Il s'apparente à un art décoratif ou arbres, arbustes, haies sont sculptés pour prendre des formes variées, géométriques, personnages, animaux, etc. Nos fameux jardins à la française, à l'anglaise, à l'italienne...</p>
                <p>Et enfin, le Land Art a investi la nature en utilisant les seuls matériaux trouvé dans la nature, roche,sable,bois...Ces œuvres s'exposant à l'extérieur jusqu'à leur érosion naturelle.</p>
                <p>Avec le Street Art Végétal, une nouvelle étape est franchie. S'invitant sur les murs et les éléments urbains, insufflant de la poésie dans le bitume, et aussi en permettant de nous reconnecter avec la nature en ville, au fil des saisons; la nature reprend sa place. </p>
                <p>Et vous pouvez non seulement admirer les créations originales des artistes, mais aussi créer à votre tour. </p>
                </div>

                <div class="col-6 pt-4">
                    <h3 class="text-center pb-2">Fiche technique</h3>
                    <div class="row text-center pb-2">
                        <div class="col-12">
                            <div class="counter">
                                <i class="fas fa-history fa-2x picto-bleu"></i>
                                <p class="count-text ">Durée : De 1H à 5H</p>
                            </div>
                        </div>
                        <div class="col-12 pt-3">
                            <div class="counter">
                                <i class="fas fa-users fa-2x"></i>
                                <p class="count-text ">Nb participants : de 1 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-12 pt-3">
                            <div class="counter">
                                <i class="fas fa-arrows-alt fa-2x"></i>
                                <p class="count-text ">M² minimum : De 50 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-12 pt-3">
                            <div class="counter">
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                <p class="count-text ">Lieu : Intérieur & Extérieur</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-6">

                <div id="carouselMosaic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ asset('images/mosaic/mosa3.png') }}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('images/mosaic/mosa2.webp') }}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselMosaic" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselMosaic" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
            <div class="col-md-6">
                <h2 class="featurette-heading">MOSAIK</h2>
                <p class="text-justify">Maquis-Art propose un Team Building mosaïque qui offre aux participants l’opportunité de créer une fresque collective, où le choix du thème et de son orientation se fait ensemble. Chacun pourra exprimer sa propre créativité en réalisant une partie de la fresque avec précision et minutie.</p>
                <p class="text-justify">Cet instant de calme, de réflexion et de détente permettra aux participants de repartir apaisés, en ayant extériorisé leurs émotions en groupe, et ce, tout en ayant donné naissance à une œuvre unique.</p>
                <p class="text-justify">Pour chacun, la satisfaction est double : la découverte d’un art décoratif original et le sentiment de partage avec l’équipe.</p>
                <p class="text-justify">L’œuvre pourra être fièrement exposée dans l’entreprise, comme symbole de l’unité du travail !</p>
            </div>
        </div>


        <div class="col-12 d-flex align-items-end ml-4 flex-column">

            <a class="btn background-bleu text-white" data-toggle="collapse" href="#collapseMosaik" role="button" aria-expanded="false" aria-controls="collapseMosaik">
                Voir plus
            </a>



            <div class="collapse row p-3" id="collapseMosaik">
                <div class="col-6">
                 
                <p><span class=" badge background-bleu text-white ml-2">Assembler</span><span class=" badge background-bleu text-white ml-2">Unifier</span><span class=" badge background-bleu text-white ml-2">Mélanger</span></p>
                <p>Matériel fourni : support, carrés de mosaïque, colle</p>
                <p>Petite histoire de la mosaïque !</p>
                <p>La mosaïque fait  son apparition en Mésopotamie, presque 8000 ans avant J-C. </p>
                <p>L’art de la mosaïque était au départ l’apanage des Grecs pour un usage domestique, mais il est progressivement devenu celui des Romains. Ils ont imposé leur autorité et leur puissance en posant des mosaïques de tout type, que ce soit en Asie du Sud-Est, en Afrique du Nord et même en Europe avec des représentations religieuses ou de légendaires batailles remportées. L'Art byzantin mènera la mosaïque à son apogée. La mosaïque de Sainte Sophie à Constantinople en est un fier exemple.</p>
                <p>C’est au début de XXème siècle que la mosaïque fait son grand retour avec le style décoratif décalé et coloré d’Antonio Gaudi. Il utilisait des petits fragments de céramiques irréguliers, des débris de vaisselle ou de verre, le tout avec des couleurs très variées, pour recouvrir les façades de certains édifices, des cheminées, ou encore des bancs.
                    Quoiqu’il en soit, la mosaïque est devenue de plus en plus colorée au fil des siècles, sa présence s’est répandue dans notre cuisine ou dans notre salle de bain !</p>
                </div>

                <div class="col-6 pt-5">
                    <h3 class="text-center pb-2">Fiche technique</h3>
                    <div class="row text-center pb-2">
                        <div class="col-12">
                            <div class="counter">
                                <i class="fas fa-history fa-2x picto-bleu"></i>
                                <p class="count-text ">Durée : De 1H à 5H</p>
                            </div>
                        </div>
                        <div class="col-12 pt-3">
                            <div class="counter">
                                <i class="fas fa-users fa-2x"></i>
                                <p class="count-text ">Nb participants : de 1 à No Limit !</p>
                            </div>
                        </div>
                        <div class="col-12 pt-3">
                            <div class="counter">
                                <i class="fas fa-arrows-alt fa-2x"></i>
                                <p class="count-text ">M² minimum : Non</p>
                            </div>
                        </div>
                        <div class="col-12 pt-3">
                            <div class="counter">
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                <p class="count-text ">Lieu : Intérieur & Extérieur</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        
        <!-- /END THE FEATURETTES -->





    </div><!-- /.container -->


    <script>
        $(function () {
            $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
        });
    </script>

    {% endblock %}
